{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/course/dj">Django</a></li>
            <li><a href="/course/py">Python</a></li>
        </ul>
        <hr/>
        
        {% comment %} Using url tag {% endcomment %}
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'dj' %}">Django</a></li>
            <li><a href="{% url 'py' %}">Python</a></li>
        </ul>
    </nav>

    {% block hero %}{% endblock hero %}
    {% block content %}{% endblock content %}
    {% block footer %}{% endblock footer %}

</body>
</html>