{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Geeky Shows — Home</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <main>
        <h1>Welcome to Django course page.</h1>
        {% comment %} <h3>{{dt}}</h3>
        <h3>{{dt|date}}</h3>
        <h3>{{dt|date:'D d M Y'}}</h3>
        <h3>{{dt|time}}</h3> {% endcomment %}

        <h2>For Loop</h2>
        {% comment %} <ul>
            {% for name in  names %}
                <li>{{name}}</li>
            {% endfor %}
        </ul>
        <ul>
            {% for name in  names reversed %}
                <li>{{name}}</li>
            {% endfor %}
        </ul> {% endcomment %}
        <ul>
            {% for name in  names %}
                <li>{{name}}</li>
                {% empty %}
                <h2>Yaha Kuch Nahi hai</h2>
            {% endfor %}
        </ul>
    </main>


</body>
</html>